*{
    margin: 0;
    padding: 0;
    font-family: "Grey Qo", cursive;
   
}

.logo-principal {
    width: 150px;
    height: 150px;
}
.menu-list{
    display: flex;
    justify-content: right;
    justify-content: space-evenly;
}
.menu-list li a{
    color: #ffffff;
    text-decoration: none;
}
.menu-list:hover {
    color: #8a2be2;
}

.inicio {
    background-color: #0feedb;
}
.pie-de-pagina{
    background-color: #0feedb;
   
}
.pie-de-pagina img{
    height: 70px;
    width: 70px;
}
.copy{
    position: relative;
    left: 800px;
    bottom: -60px;
}
.redes{
    display: flex;
    justify-content: right;
    justify-content: space-around;
}

.main-nosotros{
    background-color:#8a2be2;
    height: 800px;
    display: flex;
    justify-content: center;
}

