*{
    margin: 0;
    padding: 0;
    font-family: "Grey Qo", cursive;
   
}

.logo-principal {
    width: 150px;
    height: 150px;
}
.menu-list{
    display: flex;
    justify-content: right;
    justify-content: space-evenly;
}
.menu-list li a{
    color: #ffffff;
    text-decoration: none;
}
.menu-list:hover {
    color: #8a2be2;
}

.inicio {
    background-color: #0feedb;
}
.card {
    justify-content: center;
}
.pie-de-pagina{
    background-color: #0feedb;
   
}
.pie-de-pagina img{
    height: 70px;
    width: 70px;
}
.copy{
    position: relative;
    left: 800px;
    bottom: -60px;
}
.redes{
    display: flex;
    justify-content: right;
    justify-content: space-around;
}

.main-nosotros{
    background-color:#8a2be2;
    height: 800px;
    display: flex;
    justify-content: center;
}
.main-nosotros article{
    display: flex;
    justify-content: center;
}
.imagen-nosotros1 {
    width: 300px;
    height: 300px;
    position: relative;
    top: 100px;
    left: -50px;
   
}
.imagen-nosotros2 {
    width: 300px;
    height: 300px;
   
    position: relative;
    top: 450px;
    left: -450px;
}
.parrafo-nosotros1{
    width: 500px;
    position: relative;
    top: 170px;
    font-size: large;
}
.parrafo-nosotros2{
    width: 500px;
    position: relative;
    top: 550px;
    left: -400px;
    font-size: large;
}
.imegenesservicios{
    display: flex;
    justify-content: center;
    height: 600px;
}
.imagenservicio1{
    width: 350px;
    height: 300px;
    position: relative;
    left: 100px;

}
.parrafoservicios1{
    position: relative;
    top: 300px;
    left: -230px;
    width: 2500px;
    justify-content:center;
}
.imagenservicio2{
    width: 350px;
    height: 300px;
    position: relative;
    top: 300px;
    left: 100px;
}
.parrafoservicios2{
    position: relative;
    top: 115px;
    left: -225px;
    width: 2500px;
    justify-content:center;
}

.imagenservicio3{
    width: 350px;
    height: 300px;
    position: relative;
    left: 100px;
}
.parrafoservicio3{
    position: relative;
    top: 300px;
    left: -215px;
    width: 2500px;
    justify-content:center;
}
.contacto{
    display: block;
    justify-content: left;
}
.contacto h4{
    width: 400px;
}
.formulario{
    display: flex;
    justify-content:right;
    position: relative;
    right: 100px;
}